body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    background-image: url('wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenu-centre {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 250px 700px;
    border-radius: 10px;
    border: 1px solid #444;
}

h1 {
    margin-top: 0;
    color: #ffffff;
}